<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zcy.dao.UmsMapper">
    <select id="adminLogin" parameterType="priv.zcy.pojo.data_mapping.Ums" resultType="priv.zcy.pojo.data_mapping.Ums_admin">
        select * from ums_admin
        <where>
            username=#{username} and password=#{password}
        </where>
    </select>

    <select id="memberLogin" parameterType="priv.zcy.pojo.data_mapping.Ums" resultType="priv.zcy.pojo.data_mapping.Ums_member">
        select * from ums_member
        <where>
            username=#{username} and password=#{password}
        </where>
    </select>

</mapper>